.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

select,
input,
button {
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

button {
  cursor: pointer;
}

table,
th {
  /* border: 1px solid black; */
  border-collapse: collapse;
  padding: 0.9rem;

  padding: 5px;
}
