/* App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

select,
input,
button {
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.table-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
