:root {
  --button-padding: 5px 10px;
  --button-bg-color: #4caf50;
  --button-hover-bg-color: #45a049;
  --input-padding: 12px 20px;
  --input-border: 1px solid #ccc;
  --input-border-radius: 4px;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 10px;
  margin-bottom: 20px;
  width: 50%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--button-bg-color);
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
}

button {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 5px;
  padding: var(--button-padding);
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

input[type="text"],
select {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  display: inline-block;
  margin: 8px 0;
  padding: var(--input-padding);
}

.inputSearch {
  width: 40%;
}

.inputContainer {
  position: relative;
  width: 40%;
}

.inputWithButton {
  width: 100%;
}

.insideButton {
  cursor: pointer;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 29px;
  width: 37px;
  font-size: 18px;
}

.select-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.buttonContainer {
  height: 44px;
  margin-top: 7px;
  width: auto;
}
