.body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

select,
input,
button {
  padding: 8px;
  border-radius: 5px;
  margin: 5px;
}

button {
  cursor: pointer;
}

.table-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
