.App {
  /* text-align: center; */
  align-items: center;
  max-width: 600px;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > div {
  display: flex;
  align-items: center;
}
